.bg-mynav {
  background-color: #49baef;
}

body {
  font-size: 1.25rem;
  background-color: #fffffff1;
}

td {
  line-height: 3rem;
}

.containerInitialPage {
  margin: 0;
}

.containerButtons {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 10px;
  column-gap: 10px;
  margin: 20px;
}

.buttonMenu {
  background-color: #37868f;
  height: 200px;
  width: 450px;
  border-radius: 16px;
  font-size: 50px;
  text-decoration: none;
  animation: none;
  border-radius: 40px;
  color: #fffffff1;
  border: 1px solid transparent;
}

a{
  text-decoration: none;
}

h1{
  font-size: 30px;
  color: #649ea5;
  padding: 2px 0 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 50px;
  margin-bottom: 150px;
}
  

h1:after{
  content: ' ';
  display: block;
  width: 100%;  
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

.buttonInitialPage {
  color: #fffffff1; 
}

.buttonBack {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  margin: 0;
  font-size: 16px;
  height: 38px;
  width: 74.61px;
  border-radius: 5px;
  border: 0;  
  margin-top: 1px;
  border: 1px solid transparent;
}


.title {
  display: inline-flex;
}

.swal2-input {
  height: 1,5em;
  width: 300px;
  padding: 0 0.75em;
}