.bg-mynav {
  background-color: #49baef;
}

body {
  font-size: 1.25rem;
  background-color: #f6f8fa;
}

td {
  line-height: 3rem;
}

.containerInitialPage {
  margin: 0;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 10px;
  column-gap: 10px;

  /* indiferente: */
  background-color: #f9eac3;
  padding: 10px;
  height: 900px;
}

.buttonMenu {
  background-color: #c6d8f0;
  height: 200px;
  width: 500px;
  border-radius: 16px;
  font-size: 35px;
  text-decoration: none;
  animation: none;
}

.containerLogin {
  margin: 0;
  margin-top: 50px;
}